<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="br.com.totvs.tds.server.manager.ServerManagerFactory">
         <service
               serviceClass="br.com.totvs.tds.server.interfaces.IServerManager"></service>
      </serviceFactory>
   </extension>

</plugin>
