<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.ui.commands">
      <category
            id="br.com.totvs.tds.ui.editor"
            name="%category.name">
      </category>
      <command
            categoryId="br.com.totvs.tds.ui.editor"
            defaultHandler="br.com.totvs.tds.ui.editor.handler.CompileHandler"
            id="br.com.totvs.tds.ui.editor.command.compile"
            name="%command.name">
         <commandParameter
               id="recompile"
               name="%commandParameter.name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
            <separator
                  name="br.com.totvs.tds.ui.editor.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="br.com.totvs.tds.ui.editor.command.compile"
                  label="%command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="totvs.isProtheusNature">
                     </reference>
                  </and>
               </visibleWhen>
               <parameter
                     name="recompile"
                     value="false">
               </parameter>
            </command>
            <command
                  commandId="br.com.totvs.tds.ui.editor.command.compile"
                  label="%command.label.0"
                  style="push">
               <parameter
                     name="recompile"
                     value="true">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="totvs.isProtheusNature">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <separator
                  name="br.com.totvs.tds.ui.editor.advpl.separator1"
                  visible="true">
            </separator>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.expressions.definitions">
         <definition
               id="totvs.isProtheusNature">
            <iterate>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                   <test
                         property="org.eclipse.core.resources.projectNature"
                         value="br.com.totvs.tds.ui.sdk.protheusNature">
                   </test>
                </adapt>
             </iterate>
         </definition>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="br.com.totvs.tds.ui.editor.command.compile"
               contextId="org.eclipse.ui.genericeditor.genericEditorContext"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+F9">
            <parameter
                  id="recompile"
                  value="true">
            </parameter>
         </key>
         <key
               commandId="br.com.totvs.tds.ui.editor.command.compile"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M3+F9">
            <parameter
                  id="recompile"
                  value="true">
            </parameter>
         </key>
      </extension>


</plugin>
