<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="br.com.totvs.tds.ui.preference.DeveloperStudioPreferencePage"
            id="br.com.totvs.tds.ui.preference.developerStudio"
            name="%page.name">
      </page>
   </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="br.com.totvs.tds.ui.perspective.PlatformPerspectiveFactory"
             icon="icons/dev_16x16.png"
             id="br.com.totvs.tds.sdk.platformPerspective"
             name="%perspective.name">
          <description>
             %perspective.description
          </description>
       </perspective>
       
       <perspective
             class="br.com.totvs.tds.ui.perspective.DeveloperPerspectiveFactory"
             icon="icons/developer.gif"
             id="br.com.totvs.tds.sdk.developerPerspective"
             name="%perspective.name.0">
          <description>
             %perspective.description.0
          </description>
       </perspective>

       <perspective
             class="br.com.totvs.tds.ui.perspective.AdminPerspectiveFactory"
             icon="icons/servers.gif"
             id="br.com.totvs.tds.ui.adminPerspective"
             name="%perspective.name.1">
          <description>
			%perspective.description.1
          </description>
       </perspective>
       <perspective
             class="br.com.totvs.tds.ui.perspective.AnalyserPerspectiveFactory"
             icon="icons/profiler.gif"
             id="br.com.totvs.tds.server.ui.profile"
             name="%perspective.name.2">
          <description>
             %perspective.description.2
          </description>
       </perspective>
    </extension>
    
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="*">
          <perspectiveShortcut
                id="br.com.totvs.tds.sdk.platformPerspective">
          </perspectiveShortcut>
          <perspectiveShortcut
                id="br.com.totvs.tds.sdk.developerPerspective">
          </perspectiveShortcut>
          <perspectiveShortcut
                id="br.com.totvs.tds.ui.adminPerspective">
          </perspectiveShortcut>
       </perspectiveExtension>
    </extension>

	<extension
		point="org.eclipse.ui.console.consoleFactories">
		<consoleFactory
			class="br.com.totvs.tds.ui.console.MainConsoleFactory"
			icon="icons/totvs.png"
			label="%consoleFactory.label">
		</consoleFactory>
 	</extension>

	<extension point="org.eclipse.ui.themes">
    <themeElementCategory
          id="br.com.totvs.tds.ui.tdsElementCategory"
          label="%themeElementCategory.label">
    </themeElementCategory>
		<themeElementCategory
        id="br.com.totvs.tds.ui.preferences.consoleElementCategory"
        label="%themeElementCategory.label.0"
        parentId="br.com.totvs.tds.ui.tdsElementCategory"/>
		<fontDefinition
        categoryId="br.com.totvs.tds.ui.preferences.consoleElementCategory"
        id="br.com.totvs.tds.ui.preferences.fontConsole"
        label="%fontDefinition.label"
        value="Consolas-regular-10">
  </fontDefinition>
		<colorDefinition
        categoryId="br.com.totvs.tds.ui.preferences.consoleElementCategory"
        id="br.com.totvs.tds.ui.preferences.color.default"
        label="%colorDefinition.label"
        value="COLOR_BLACK"/>
		<colorDefinition
        categoryId="br.com.totvs.tds.ui.preferences.consoleElementCategory"
        id="br.com.totvs.tds.ui.preferences.color.error"
        label="%colorDefinition.label.0"
        value="COLOR_RED"/>
		<colorDefinition
        categoryId="br.com.totvs.tds.ui.preferences.consoleElementCategory"
        id="br.com.totvs.tds.ui.preferences.color.backgroud"
        label="%colorDefinition.label.1"
        value="COLOR_WHITE"/>
		<colorDefinition
        categoryId="br.com.totvs.tds.ui.preferences.consoleElementCategory"
        id="br.com.totvs.tds.ui.preferences.color.information"
        label="%colorDefinition.label.2"
        value="255, 128, 64"/>
		<colorDefinition
        categoryId="br.com.totvs.tds.ui.preferences.consoleElementCategory"
        id="br.com.totvs.tds.ui.preferences.color.warning"
        label="%colorDefinition.label.3"
        value="COLOR_GREEN"/>
	</extension>

 <extension
       point="org.eclipse.mylyn.commons.notifications.ui.notifications">
    <category
          icon="icons/tds.png"
          id="br.com.totvs.tds.ui.notification"
          label="TOTVS Developer Studio">
    </category>
    <event
          categoryId="br.com.totvs.tds.ui.notification"
          id="tds.notification.info"
          label="Informação">
    </event>
    <event
          categoryId="br.com.totvs.tds.ui.notification"
          id="tds.notification.error"
          label="Erro">
    </event>
    <event
          categoryId="br.com.totvs.tds.ui.notification"
          id="tds.notification.warning"
          label="Aviso">
    </event>
    <event
          categoryId="br.com.totvs.tds.ui.notification"
          id="tds.notification.cancel"
          label="Cancelamento">
    </event>
    <event
          categoryId="br.com.totvs.tds.ui.notification"
          id="tds.notification.ok"
          label="OK">
    </event>
    <eventMapping
          eventIds="tds.*"
          sinkId="org.eclipse.epp.logging.aeri.notifications.sink.popup">
    </eventMapping>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="br.com.totvs.tds.ui.TDSPreferenceInitializer">
    </initializer>
 </extension>
   >
</plugin>
