<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="br.com.totvs.tds"
            class="br.com.totvs.tds.ui.monitor.views.ServerMonitorView"
            icon="icons/server_view.png"
            id="br.com.totvs.tds.ui.monitor.views.serverMonitorView"
            name="Monitor de Servidores"
            restorable="true">
         <description>
            Informações sobre conexões de um ou mais servidores, além de permitir efetuar operações de parada, bloqueio, notificações a usuários, entre outras.
         </description>
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="br.com.totvs.tds.ui.adminPerspective">
         <view
               id="br.com.totvs.tds.ui.server.views.serverView"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.70"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="true"
               id="br.com.totvs.tds.ui.monitor.views.serverMonitorView"
               minimized="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="true"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <viewShortcut
               id="br.com.totvs.tds.ui.monitor.views.serverMonitorView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="br.com.totvs.tds.ui.monitor.handlers.AddServerMonitorHandler"
          description="Adiciona o servidor para monitoramento fixo."
          id="br.com.totvs.tds.ui.monitor.commands.addServerMonitor"
          name="Monitorar">
    </command>
    <command
          defaultHandler="br.com.totvs.tds.ui.monitor.handlers.RemoveServerMonitorHandler"
          description="Remove o servidor do monitoramento fixo."
          id="br.com.totvs.tds.ui.monitor.commands.removeServerMonitor"
          name="Não Monitorar">
    </command>
   </extension>

 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:br.com.totvs.tds.ui.server.views.serverView?before=rpo">
       <command
             commandId="br.com.totvs.tds.ui.monitor.commands.addServerMonitor"
             icon="icons/server_view.png">
          <visibleWhen checkEnabled="false">
          	<or>
				<reference definitionId="br.com.totvs.tds.ui.server.isAppServer" />
				<reference definitionId="br.com.totvs.tds.ui.server.isGroup" />
			</or>
          </visibleWhen>
       </command>
       <command
             commandId="br.com.totvs.tds.ui.monitor.commands.removeServerMonitor"
             icon="icons/server_view.png">
          <visibleWhen
                checkEnabled="false">
             <or>
                <reference
                      definitionId="br.com.totvs.tds.ui.server.isAppServer">
                </reference>
                <reference
                      definitionId="br.com.totvs.tds.ui.server.isGroup">
                </reference>
             </or>
          </visibleWhen>
       </command>
       <separator
             name="br.com.totvs.tds.ui.monitor.separator2"
             visible="true">
       </separator>
    </menuContribution>
   </extension>
   
</plugin>
