<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="protheusBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="br.com.totvs.tds.ui.sdk.builder.TotvsBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="br.com.totvs.tds.ui.sdk.protheusNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="br.com.totvs.tds.ui.sdk.builder.TotvsNature">
         </run>
      </runtime>
      <builder
            id="br.com.totvs.tds.ui.sdk.protheusBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="br.com.totvs.tds.ui.sdk.category"
            name="%category.name">
      </category>
      <command
            categoryId="br.com.totvs.tds.ui.sdk.category"
            defaultHandler="br.com.totvs.tds.ui.sdk.builder.ToggleTotvsNatureHandler"
            id="br.com.totvs.tds.ui.sdk.addRemoveProtheusNature"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="%command.label"
               commandId="br.com.totvs.tds.ui.sdk.addRemoveProtheusNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="br.com.totvs.tds.ui.sdk.protheusNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="%command.label.0"
               commandId="br.com.totvs.tds.ui.sdk.addRemoveProtheusNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="br.com.totvs.tds.ui.sdk.protheusNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>



   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/nature.png"
            id="br.com.totvs.tds.ui.sdk.imageProtheusNature"
            natureId="br.com.totvs.tds.ui.sdk.protheusNature">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="br.com.totvs.tds.ui.sdk.category"
            name="%category.name.0">
      </category>
      <wizard
            category="br.com.totvs.tds.ui.sdk.category"
            class="br.com.totvs.tds.ui.sdk.wizard.ProjectWizard"
            finalPerspective="br.com.totvs.tds.sdk.platformPerspective"
            icon="icons/new_project.png"
            id="br.com.totvs.tds.ui.sdk.projectwizard"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>

  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="br.com.totvs.tds.ui.sdk.property.ProtheusPropertyPage"
           id="br.com.totvs.tds.ui.property.developerStudio"
           name="%page.name">
            <enabledWhen>
	    		<adapt type="org.eclipse.core.resources.IResource">
	      			<test property="org.eclipse.core.resources.projectNature" value="br.com.totvs.tds.ui.sdk.protheusNature"/>
	    		</adapt>         
	  		</enabledWhen>
     </page>
     <page
           category="br.com.totvs.tds.ui.property.developerStudio"
           class="br.com.totvs.tds.ui.sdk.property.IncludePropertyPage"
           id="br.com.totvs.tds.ui.sdk.property.IncludePropertyPage"
           name="%page.name.0">
     </page>
  </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="br.com.totvs.tds.ui.TDSPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="br.com.totvs.tds.ui.preference.developerStudio"
            class="br.com.totvs.tds.ui.sdk.preference.compilation.CompilePreferencePage"
            id="br.com.totvs.tds.ui.sdk.preference.compilation.CompilePreferencePage"
            name="%page.name.1">
      </page>
      <page
            category="br.com.totvs.tds.ui.sdk.preference.compilation.CompilePreferencePage"
            class="br.com.totvs.tds.ui.sdk.preference.compilationexclusion.CompileExclusionPreferencePage"
            id="br.com.totvs.tds.ui.sdk.preference.compilationexclusion.CompileExclusionPreferencePage"
            name="%page.name.2">
      </page>
      <page
            category="br.com.totvs.tds.ui.sdk.preference.compilation.CompilePreferencePage"
            class="br.com.totvs.tds.ui.sdk.preference.include.IncludePreferencePage"
            id="br.com.totvs.tds.ui.sdk.preference.include.IncludePreferencePage"
            name="%page.name.4">
      </page>
      <page
            category="br.com.totvs.tds.ui.preference.developerStudio"
            class="br.com.totvs.tds.ui.sdk.preference.workarea.WorkareaPreferencePage"
            id="br.com.totvs.tds.ui.sdk.preference.workarea.WorkareaPreferencePage"
            name="%page.name.5">
      </page>
      <page
            category="br.com.totvs.tds.ui.sdk.preference.compilation.CompilePreferencePage"
            class="br.com.totvs.tds.ui.sdk.preference.compilation.CompileKeyPreferencePage"
            id="br.com.totvs.tds.ui.sdk.preference.compilation.compileKeyPreferencePage"
            name="%page.name.6">
      </page>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.lsp4e.diagnostic">
      </super>
   </extension>

</plugin>
