<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		 point="org.eclipse.ui.views">
		 <category id="br.com.totvs.tds" name="TDS">
		 </category>
		<view
        allowMultiple="false"
        category="br.com.totvs.tds"
        class="br.com.totvs.tds.ui.server.views.ServerView"
        icon="icons/server.png"
        id="br.com.totvs.tds.ui.server.views.serverView"
        name="%view.name"
        restorable="true">
		</view>
	</extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:br.com.totvs.tds.ui.server.views.serverView">
       <command
             commandId="br.com.totvs.tds.ui.server.commands.newItemCommand"
             icon="icons/newGroup.png"
             label="%command.label">
          <parameter
                name="wizard"
                value="br.com.totvs.tds.ui.server.wizards.group.NewGroupWizard">
          </parameter>
          <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isGroup" />
          </visibleWhen>
       </command>
       <command
             commandId="br.com.totvs.tds.ui.server.commands.newItemCommand"
             icon="icons/newServer.png"
             label="%command.label.0">
          <parameter
                name="wizard"
                value="br.com.totvs.tds.ui.server.wizards.server.ServerSelectionWizard">
          </parameter>
          <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isGroup" />
          </visibleWhen>
       </command>

       <command
             commandId="br.com.totvs.tds.ui.server.commands.editItemCommand"
             icon="icons/editGroup.png"
             label="%command.label.3">
          <parameter
                name="dialog"
                value="br.com.totvs.tds.ui.server.dialog.GroupEditDialog">
          </parameter>
          <visibleWhen checkEnabled="false">
          	<and>
				<reference definitionId="br.com.totvs.tds.ui.server.isGroup" />
				<not>
					<reference definitionId="br.com.totvs.tds.ui.server.isRoot" />
				</not>
			</and>
          </visibleWhen>
       </command>

       <command
             commandId="br.com.totvs.tds.ui.server.commands.editItemCommand"
             icon="icons/editServer.png"
             label="%command.label.4">
          <parameter
                name="dialog"
                value="br.com.totvs.tds.ui.server.dialog.ServerEditDialog">
          </parameter>
          <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isAppServer" />
          </visibleWhen>
       </command>

       <command
             commandId="br.com.totvs.tds.ui.server.commands.connectCommand"
             tooltip="%command.tooltip">
          <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isAppServer" />
          </visibleWhen>
       </command>

       <command
             commandId="br.com.totvs.tds.ui.server.commands.disconnectCommand"
             tooltip="%command.tooltip.0">
          <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isAppServer" />
          </visibleWhen>
       </command>
       
       <command
             commandId="br.com.totvs.tds.ui.server.commands.removeCommand"
             icon="icons/removeServer.png"
             tooltip="%command.tooltip.1">
          <visibleWhen
                checkEnabled="false">
                <and>
	                <not>
						<reference definitionId="br.com.totvs.tds.ui.server.isSlave" />
	                </not>
	                <not>
						<reference definitionId="br.com.totvs.tds.ui.server.isRoot" />
	                </not>
                </and>
          </visibleWhen>
       </command>
       
       <command
             commandId="br.com.totvs.tds.ui.server.commands.slaveRegisterCommand"
             icon="icons/registerSlave.png"
             tooltip="%command.tooltip.2">
			<visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isSlave" />
			</visibleWhen>
       </command>

       <command
             commandId="br.com.totvs.tds.ui.server.commands.activateCommand"
             icon="icons/activate.png"
             tooltip="Ativa o ambiente selecionado, colocando-o como corrente.">
			<visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isEnvironment" />
			</visibleWhen>
       </command>

       <menu
             label="%menu.label.0">
			<visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isAppServer" />
			</visibleWhen>
          <command
                commandId="br.com.totvs.tds.ui.server.commands.buildPatchCommand"
                icon="icons/patch_build.png"
                label="%command.label.5"
                tooltip="%command.tooltip.4">
          </command>
          <command
                commandId="br.com.totvs.tds.ui.server.commands.applyPatchCommand"
                icon="icons/apply_patch.png"
                label="Aplicar"
                tooltip="Aplica pacotes de atualização">
          </command>
       </menu>
       
       <menu
             label="RPO">
			<visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isEnvironment" />
			</visibleWhen>
          <command
                commandId="br.com.totvs.tds.ui.server.commands.inspectRpoCommand"
                icon="icons/function.png"
                label="Funções"
                tooltip="Apresenta lista de funções.">
             <parameter
                   name="br.com.totvs.tds.ui.server.rpoTypeElementParameter"
                   value="function">
             </parameter>
          </command>
          <command
                commandId="br.com.totvs.tds.ui.server.commands.inspectRpoCommand"
                icon="icons/source.png"
                label="Fontes"
                tooltip="Apresenta lista de fontes.">
             <parameter
                   name="br.com.totvs.tds.ui.server.rpoTypeElementParameter"
                   value="source">
             </parameter>
          </command>
          <command
                commandId="br.com.totvs.tds.ui.server.commands.inspectRpoCommand"
                icon="icons/resource.png"
                label="Recurso"
                tooltip="Apresenta lista de recursos.">
             <parameter
                   name="br.com.totvs.tds.ui.server.rpoTypeElementParameter"
                   value="resource">
             </parameter>
          </command>
          <command
                commandId="br.com.totvs.tds.ui.server.commands.inspectRpoCommand"
                icon="icons/object.png"
                label="Objetos"
                tooltip="Apresenta lista de objetos (Fontes+Recursos).">
             <parameter
                   name="br.com.totvs.tds.ui.server.rpoTypeElementParameter"
                   value="object">
             </parameter>
          </command>
          <command
                commandId="br.com.totvs.tds.ui.server.commands.maintenanceRpoCommand"
                icon="icons/rpo.png"
                label="Desfragmentar"
                tooltip="Elimina fragmentos do RPO diminuindo o tamanho do mesmo.">
             <parameter
                   name="br.com.totvs.tds.ui.server.rpoOperationtParameter"
                   value="defrag">
             </parameter>
          </command>
       </menu>
       
       <command
             commandId="br.com.totvs.tds.ui.server.commands.startServerCommand"
             icon="icons/start_server.png"
             style="push">
           <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isAppServer" />
			</visibleWhen>
       </command>
       <command
             commandId="br.com.totvs.tds.ui.server.commands.stopServerCommand"
             icon="icons/stop_server.png"
             style="push">
           <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isAppServer" />
			</visibleWhen>
       </command>

    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="toolbar:br.com.totvs.tds.ui.server.views.serverView">
       <command
             commandId="br.com.totvs.tds.ui.server.commands.sortTreeCommand"
             icon="icons/sort_abc.png"
             style="toggle">
       </command>
       <command
             commandId="br.com.totvs.tds.ui.server.commands.monitorSelectionCommand"
             icon="icons/selection.png"
             style="toggle">
       </command>
       <command
             commandId="br.com.totvs.tds.ui.server.commands.newItemCommand"
             icon="icons/newGroup.png"
             label="%command.label.1"
             style="push"
             tooltip="%command.tooltip.3">
          <parameter
                name="wizard"
                value="br.com.totvs.tds.ui.server.wizards.group.NewGroupWizard">
          </parameter>
          <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isGroup" />
          </visibleWhen>
       </command>
       <command
             commandId="br.com.totvs.tds.ui.server.commands.newItemCommand"
             icon="icons/newServer.png"
             label="%command.label.2">
          <parameter
                name="wizard"
                value="br.com.totvs.tds.ui.server.wizards.server.NewServerWizard">
          </parameter>
          <visibleWhen checkEnabled="false">
				<reference definitionId="br.com.totvs.tds.ui.server.isGroup" />
          </visibleWhen>
       </command>
    </menuContribution>
	<menuContribution
    	allPopups="false"
		locationURI="toolbar:org.eclipse.ui.trim.status">
		
		<toolbar
                   id="br.com.totvs.tds.server.ui.toolbar.status"
                   label="%toolbar.label">
                   <!-- contorno devido a um bug no eclipse, que corta a contribuição-->
        		<command commandId="dummy"
                      icon="icons/img1x24.png"
                      style="push">
                </command>
			    <control
			          class="br.com.totvs.tds.ui.server.status.StatusLineControl">
			    </control>
			    </toolbar>
          </menuContribution>
    
 </extension>

 <extension
       point="org.eclipse.ui.commands">
    <category
          id="br.com.totvs.tds.ui.server.commands.category"
          name="%category.name">
    </category>
    <command
          categoryId="br.com.totvs.tds.ui.server.commands.category"
          defaultHandler="br.com.totvs.tds.ui.server.handlers.SortTreeHandler"
          description="%command.description"
          id="br.com.totvs.tds.ui.server.commands.sortTreeCommand"
          name="%command.name">
          <state
             class="org.eclipse.ui.handlers.RegistryToggleState:true"
             id="org.eclipse.ui.commands.toggleState">
          </state>
    </command>
    <command
          categoryId="br.com.totvs.tds.ui.server.commands.category"
          defaultHandler="br.com.totvs.tds.ui.server.handlers.NewItemHandler"
          description="%command.description.newItem"
          id="br.com.totvs.tds.ui.server.commands.newItemCommand"
          name="%command.name.newItem">
       <commandParameter
             id="wizard"
             name="%commandParameter.name"
             optional="false">
       </commandParameter>
       
    </command>
    <command
          categoryId="br.com.totvs.tds.ui.server.commands.category"
          defaultHandler="br.com.totvs.tds.ui.server.handlers.EditItemHandler"
          description="%command.description.editItem"
          id="br.com.totvs.tds.ui.server.commands.editItemCommand"
          name="%command.name.editItem">
       <commandParameter
             id="dialog"
             name="%commandParameter.name.8"
             optional="false">
       </commandParameter>
    </command>
    <command
          categoryId="br.com.totvs.tds.ui.server.commands.category"
          defaultHandler="br.com.totvs.tds.ui.server.handlers.ConnectHandler"
          id="br.com.totvs.tds.ui.server.commands.connectCommand"
          name="%command.name.1">
          <commandParameter
             id="server"
             name="%commandParameter.name.4"
             optional="true">
          </commandParameter>
    </command>
    <command
          categoryId="br.com.totvs.tds.ui.server.commands.category"
          defaultHandler="br.com.totvs.tds.ui.server.handlers.DisconnectHandler"
          id="br.com.totvs.tds.ui.server.commands.disconnectCommand"
          name="%command.name.2">
       <commandParameter
             id="server"
             name="%commandParameter.name.2"
             optional="true">
       </commandParameter>
    </command>
    <command
          defaultHandler="br.com.totvs.tds.ui.server.handlers.LoginHandler"
          id="br.com.totvs.tds.ui.server.commands.loginCommand"
          name="%command.name.3">
       <commandParameter
             id="loginDialog"
             name="%commandParameter.name.3">
       </commandParameter>
       <commandParameter
             id="server"
             name="%commandParameter.name.4">
       </commandParameter>
       <commandParameter
             id="environment"
             name="%commandParameter.name.5"
             optional="true">
       </commandParameter>
    </command>
    <command
          categoryId="br.com.totvs.tds.ui.server.commands.category"
          defaultHandler="br.com.totvs.tds.ui.server.handlers.RemoveItemHandler"
          id="br.com.totvs.tds.ui.server.commands.removeCommand"
          name="%command.name.remove">
    </command>
    <command
          defaultHandler="br.com.totvs.tds.ui.server.handlers.MonitorSelectionHandler"
          id="br.com.totvs.tds.ui.server.commands.monitorSelectionCommand"
          name="%command.name.monitor">
          <state
             class="org.eclipse.ui.handlers.RegistryToggleState:true"
             id="org.eclipse.ui.commands.toggleState">
          </state>
    </command>
    <command
          defaultHandler="br.com.totvs.tds.ui.server.handlers.SlaveRegisterHandler"
          id="br.com.totvs.tds.ui.server.commands.slaveRegisterCommand"
          name="%command.name.6">
    </command>
    <command
          defaultHandler="br.com.totvs.tds.ui.server.handlers.ActivateHandler"
          id="br.com.totvs.tds.ui.server.commands.activateCommand"
          name="Selecionar">
    </command>
    <command
    	defaultHandler="br.com.totvs.tds.ui.server.handlers.BuildPatchHandler"
        id="br.com.totvs.tds.ui.server.commands.buildPatchCommand"
        name="%command.name.0">
     </command>
    <command
    	defaultHandler="br.com.totvs.tds.ui.server.handlers.ApplyPatchHandler"
        id="br.com.totvs.tds.ui.server.commands.applyPatchCommand"
        name="Aplicar Pacote de Atualização">
     </command>
    <command
    	defaultHandler="br.com.totvs.tds.ui.server.handlers.InspectorRpoHandler"
        id="br.com.totvs.tds.ui.server.commands.inspectRpoCommand"
        name="Inspetor de RPO">
       <commandParameter
             id="br.com.totvs.tds.ui.server.rpoTypeElementParameter"
             name="rpoTypeElement"
             optional="false">
       </commandParameter>
     </command>
    <command
    	defaultHandler="br.com.totvs.tds.ui.server.handlers.MaintenanceRpoHandler"
        id="br.com.totvs.tds.ui.server.commands.maintenanceRpoCommand"
        name="Manutenção de RPO">
       <commandParameter
             id="br.com.totvs.tds.ui.server.rpoOperationtParameter"
             name="rpoOperation"
             optional="false">
       </commandParameter>
     </command>
    <command
          categoryId="br.com.totvs.tds.ui.server.commands.category"
          defaultHandler="br.com.totvs.tds.ui.server.handlers.StartServerHandler"
          description="%command.description.0"
          id="br.com.totvs.tds.ui.server.commands.startServerCommand"
          name="%command.name.4">
       <commandParameter
             id="dialog"
             name="%commandParameter.name.9"
             optional="false">
       </commandParameter>
    </command>
    <command
          categoryId="br.com.totvs.tds.ui.server.commands.category"
          defaultHandler="br.com.totvs.tds.ui.server.handlers.StopServerHandler"
          description="%command.description.1"
          id="br.com.totvs.tds.ui.server.commands.stopServerCommand"
          name="%command.name.5">
       <commandParameter
             id="dialog"
             name="%commandParameter.name.10"
             optional="false">
       </commandParameter>
    </command>
    
 </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="br.com.totvs.tds.ui.server.views.ServerViewDecorator"
          icon="icons/server.png"
          id="br.com.totvs.tds.ui.server.serverViewDecorator"
          label="%decorator.label"
          lightweight="true"
          state="true">
       <enablement>
          <objectClass
                name="br.com.totvs.tds.server.interfaces.IItemInfo">
          </objectClass>
       </enablement>
    </decorator>
 </extension>
 
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="br.com.totvs.tds.ui.server.Startup">
    </startup>
    
 </extension>
 
 <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="br.com.totvs.tds.ui.server.isAppServer">
		<and>
			<count value="1" />
				<iterate ifEmpty="false">
					<instanceof value="br.com.totvs.tds.server.interfaces.IAppServerInfo">
				</instanceof>
			</iterate>
		</and>
    </definition>
    <definition
          id="br.com.totvs.tds.ui.server.isEnvironment">
		<and>
			<count value="1" />
				<iterate ifEmpty="false">
					<instanceof value="br.com.totvs.tds.server.interfaces.IEnvironmentInfo">
				</instanceof>
			</iterate>
		</and>
    </definition>
    <definition
          id="br.com.totvs.tds.ui.server.isSlave">
		<and>
			<count value="1" />
				<iterate ifEmpty="false">
					<instanceof value="br.com.totvs.tds.server.interfaces.IAppServerSlaveInfo">
				</instanceof>
			</iterate>
		</and>
    </definition>
    <definition
          id="br.com.totvs.tds.ui.server.isGroup">
		<and>
			<count value="1" />
			<iterate ifEmpty="false">
				<and>
					<instanceof value="br.com.totvs.tds.server.interfaces.IGroupInfo" />
				</and>
			</iterate>
		</and>
    </definition>
    <definition
          id="br.com.totvs.tds.ui.server.isRoot">
		<and>
			<count value="1" />
			<iterate ifEmpty="false">
				<and>
					<instanceof value="br.com.totvs.tds.server.interfaces.IRootInfo" />
				</and>
			</iterate>
		</and>
    </definition>
 </extension>
	
</plugin>
